---
import type { MarkdownInstance } from 'astro';
import BlogPost from '../components/BlogPost.astro';
import BaseLayout from '../layouts/BaseLayout.astro';

// Astro.glob()で、引数に渡したパスに合うローカルファイルを読み込み、配列で返す
const allPosts: MarkdownInstance<Record<string, any>>[] = await Astro.glob(
  '../pages/posts/*.md'
);
const pageTitle: string = 'My Astro Learning Blog';
---

<BaseLayout pageTitle={pageTitle}>
  <p>This is where I will post about my journey learning Astro.</p>
  <ul>
    {
      allPosts.map((post) => (
        <BlogPost url={post.url} title={post.frontmatter.title} />
      ))
    }
  </ul>
</BaseLayout>
